.loader{
    padding: 4rem 0;
    position: relative;
    left: 675px;
    top: 25px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}

.loader img{
    width: 120px;
}